<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Update profile</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Update profile</h1>
    <form method="POST" th:action="@{'/update/buddy/' + ${#authentication.principal.getUser().id}}" th:object="${user}" class="container mt-5">
        <div class="row">
            <div class="mb-3 col-md-3">
                <label for="username" class="form-label">Username (read only):</label>
                <input th:field="*{username}" type="text" id="username" class="form-control" placeholder="Enter your username" readonly>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></span>
            </div>

            <div class="mb-3 col-md-3">
                <label for="fullname" class="form-label">Full name:</label>
                <input th:field="*{fullName}" type="text" id="fullname" class="form-control" placeholder="Enter your full name">
                <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" style="color: red;"></span>
            </div>

            <div class="mb-3 col-md-3">
                <label for="age" class="form-label">Age:</label>
                <input th:field="*{age}" type="number" id="age" class="form-control" placeholder="Enter your age">
                <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red;"></span>
            </div>

            <div class="mb-3 col-md-3">
                <label for="eyes" class="form-label">Faculty:</label>
                <select th:field="*{faculty}" id="eyes" class="form-select">
                    <option th:each="faculty : ${faculties}" th:value="${faculty}" th:text="${faculty}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Gender:</label>
                <div th:each="g : ${genders}" class="form-check">
                    <input type="radio" th:field="*{gender}" th:value="${g}" th:id="${'gender_' + g}" class="form-check-input">
                    <label th:for="${'gender_' + g}" class="form-check-label" th:text="${g}"></label>
                </div>
            </div>
            <input type="hidden" th:field="*{agree}" id="agree" class="form-check-input" checked>
            <input type="hidden" th:field="*{id}" id="id" />

            <div class="mb-3">
                <input type="submit" value="Update" class="btn btn-primary">
            </div>
        </div>
    </form>

</section>
</body>
</html>