<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>All buddies</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Buddies list</h1>
    <p th:if="${semester != null}">Current semester: <span th:text="${semester}"></span></p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td><b>Username</b></td>
            <td><b>Full Name</b></td>
            <td><b>Age</b></td>
            <td><b>Gender</b></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="buddy: ${buddies}">
            <td><a th:href="@{'/profile/' + ${buddy.id}}" th:text="${buddy.username}"></a></td>
            <td th:text="${buddy.fullName}" />
            <td th:text="${buddy.age}" />
            <td th:text="${buddy.gender}" />
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>