<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Profile overview</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Profile overview (buddy)</h1>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Username</td>
                <td th:text="${user.username}"></td>
            </tr>
            <tr>
                <td>Full name</td>
                <td th:text="${user.fullName}"></td>
            </tr>
            <tr>
                <td>Age</td>
                <td th:text="${user.age}"></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td th:text="${user.gender}"></td>
            </tr>
            <tr>
                <td>Faculty</td>
                <td th:text="${user.faculty}"></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex" th:if="${#authentication.principal.getUser().id == user.id}">
        <a class="btn btn-success" th:href="@{'/update/buddy/' + ${user.id}}">Update profile</a>
    </div>
    <hr/>
    <h2 class="mt-3">Assigned students</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td><b>Name</b></td>
                <td><b>Country</b></td>
                <td><b>Gender</b></td>
                <td><b>Age</b></td>
                <td><b>Arrival information</b></td>
                <td><b>Semester</b></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student: ${assignedStudents}">
                <td><a th:href="@{'/profile/' + ${student.id}}" th:text="${student.fullName}"></a></td>
                <td th:text="${student.country}" />
                <td th:text="${student.gender}" />
                <td th:text="${student.age}" />
                <td th:text="${student.arrivalInfo}" />
                <td th:text="${student.semester}" />
            </tr>
            <tr th:if="${assignedStudents.isEmpty()}">
                <td colspan="5">No students to show.</td>
            </tr>
        </tbody>
    </table>
</section>
</body>
</html>