<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Event list</title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Event list</h1>
        <a class="btn btn-success" href="/events/create" th:if="${#authentication.principal.getUser().type.toString() == 'MEMBER'}">Create an event</a>
    </div>
    <p th:if="${semester != null}">Current semester: <span th:text="${semester}"></span></p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td><b>Title</b></td>
            <td><b>Description</b></td>
            <td th:if="${#authentication.principal.getUser().type.toString() == 'MEMBER'}"><b>Actions</b></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event: ${events}">
            <td th:text="${event.title}" />
            <td th:text="${event.description}" />
            <td th:if="${#authentication.principal.getUser().type.toString() == 'MEMBER'}">
                <form method="POST" th:action="@{'/events/delete/' + ${event.id}}">
                    <input class="btn btn-danger btn-sm" type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>