<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Login page</title>
</head>
<body class="non-auth">
<section layout:fragment="content">
    <h2 class="mb-4">All available students for <span th:text="${semester}"></span></h2>
    <div class="row">
        <div class="col-md-3 mb-3" th:each="student: ${students}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${student.fullName}"></h5>
                    <p class="card-text">Country: <span th:text="${student.country}"></span></p>
                    <b>Arrival information:</b>
                    <p class="card-text" th:if="${student.arrivalInfo != null}"><span th:text="${student.arrivalInfo}"></span></p>
                    <div class="d-flex gap-2">
                        <a class="btn btn-sm btn-success" th:href="@{'/profile/' + ${student.id}}">View profile</a>
                        <form method="POST" th:action="@{'/buddy/take-student/' + ${student.id}}">
                            <input type="submit" class="btn btn-sm btn-primary" value="Take student"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>