<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Buddy System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="d-flex flex-column h-100">
  <!--  HEADER  -->
  <header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Buddy System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link" href="/all-buddies">All buddies</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link" href="/event-list">Events</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.getUser().type.toString() == 'MEMBER'}">
              <a class="nav-link" href="/statistics">Statistics</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.getUser().type.toString() == 'MEMBER'}">
              <a class="nav-link" href="/subscriptions">Subscriptions</a>
            </li>
          </ul>
          <div class="d-flex align-items-center gap-3">
            <div sec:authorize="!isAuthenticated()">
              <a class="btn btn-primary" th:href="@{/login}">Login</a>
              <a class="btn btn-primary" th:href="@{/register/buddy}">Register as a buddy</a>
              <a class="btn btn-primary" th:href="@{/register/student}">Register as a student</a>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" sec:authorize="isAuthenticated()">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span th:text="${#authentication.principal.getUser().username}"></span>&nbsp;
                  (<span th:text="${#authentication.principal.getUser().type}"></span>)
                </a>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                  <li><a class="dropdown-item" href="/profile">View profile</a></li>
                  <li th:if="${#authentication.principal.getUser().type.toString() == 'MEMBER'}"><a class="dropdown-item" th:href="@{'/update/buddy/' + ${#authentication.principal.getUser().id}}">Update profile</a></li>
                  <li th:if="${#authentication.principal.getUser().type.toString() == 'STUDENT'}"><a class="dropdown-item" th:href="@{'/update/student/' + ${#authentication.principal.getUser().id}}">Update profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><form th:action="@{/logout}" method="post">
                    <input class="dropdown-item" type="submit" value="Logout">
                  </form></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <section class="m-3">
    <div class="container-lg d-flex flex-column mt-1 bg-white rounded-3 px-5 py-2" layout:fragment="content"></div>
  </section>

  <footer th:fragment="header" class="text-bg-dark">
    <div class="container p-4">
      <div class="d-flex justify-content-between">
        <p class="mb-0">&copy; Buddy System <span th:text="${#execInfo.now.weekYear}"></span></p>
        <form class="d-flex align-items-center gap-2" method="POST" th:action="@{'/subscriptions/create'}">
          <label style="width: 120px" for="email">E-mail</label>
          <input placeholder="Subscribe your email" class="form-control" type="email" id="email" name="email" required/>
          <input class="btn btn-warning" type="submit" value="Subscribe"/>
        </form>
      </div>
    </div>
  </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>