<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Statistics</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Statistics</h1>
    <p th:if="${semester != null}">Current semester: <span th:text="${semester}"></span></p>
    <div class="d-flex align-items-center mb-4 gap-3">
        <div class="d-flex flex-column justify-content-center align-items-center p-3" style="border: 2px solid gray; border-radius: 4px;">
            <span>Number of buddies</span>
            <span style="font-size: 34px;" th:text="${buddies.size()}"></span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center p-3" style="border: 2px solid gray; border-radius: 4px;">
            <span>Students in semester</span>
            <span style="font-size: 34px;" th:text="${students.size()}"></span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center p-3" style="border: 2px solid gray; border-radius: 4px;">
            <span>Number of countries</span>
            <span style="font-size: 34px;" th:text="${countries.size()}"></span>
        </div>
    </div>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/

        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    /*[# th:each="country : ${countriesAgg}"]*/
                    /*[[${country.getKey()}]]*/,
                    /*[/]*/
                ],
                datasets: [{
                    label: '# of students',
                    data: [
                        /*[# th:each="country : ${countriesAgg}"]*/
                        /*[[${country.getValue()}]]*/,
                        /*[/]*/
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        /*]]>*/
    </script>
</section>
</body>
</html>