<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Profile overview</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Profile overview</h1>
    <p>Semester: <span th:text="${user.semester}"></span></p>
    <div class="row">
        <div class="col-md-6">
            <ul>
                <li>Username: <span th:text="${user.username}"></span></li>
                <li>Full name: <span th:text="${user.fullName}"></span></li>
                <li>Age: <span th:text="${user.age}"></span></li>
                <li>Gender: <span th:text="${user.gender}"></span></li>
                <li>Country: <span th:text="${user.country}"></span></li>
                <li>Faculty: <span th:text="${user.faculty}"></span></li>
                <li th:if="${user.arrivalInfo != null && user.arrivalInfo != ''}">Arrival information: <span th:text="${user.arrivalInfo}"></span></li>
            </ul>
        </div>
        <div class="col-md-6" th:if="${user.buddy != null}">
            <p>Assigned buddy: <a th:href="@{'/profile/' + ${user.buddy.id}}" th:text="${user.buddy.fullName}"></a></p>
        </div>
    </div>
    <div class="d-flex" th:if="${#authentication.principal.getUser().id == user.id}">
        <a class="btn btn-success" th:href="@{'/update/student/' + ${user.id}}">Update profile</a>
    </div>
</section>
</body>
</html>