<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Register as a student</title>
</head>
<body>
<section layout:fragment="content">
<h1>Exchange student registration</h1>
    <form method="POST" th:action="@{/register/student}" th:object="${user}" class="container mt-5">
        <div class="row">
        <input type="hidden" th:field="*{id}" />
        <div class="mb-3 col-md-3">
            <label for="username" class="form-label">Username:</label>
            <input th:field="*{username}" type="text" id="username" class="form-control" placeholder="Enter your username">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></span>
        </div>

        <div class="mb-3 col-md-3">
            <label for="fullname" class="form-label">Full name:</label>
            <input th:field="*{fullName}" type="text" id="fullname" class="form-control" placeholder="Enter your full name">
            <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" style="color: red;"></span>
        </div>

        <div class="mb-3 col-md-3">
            <label for="age" class="form-label">Age:</label>
            <input th:field="*{age}" type="number" id="age" class="form-control" placeholder="Enter your age">
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red;"></span>
        </div>

        <div class="mb-3 col-md-3">
            <label for="faculty" class="form-label">Faculty:</label>
            <select th:field="*{faculty}" id="faculty" class="form-select">
                <option th:each="faculty : ${faculties}" th:value="${faculty}" th:text="${faculty}"></option>
            </select>
        </div>

        <div class="mb-3 col-md-3">
            <label for="country" class="form-label">Country:</label>
            <select th:field="*{country}" id="country" class="form-select">
                <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
            </select>
        </div>

        <div class="mb-3 col-md-3">
            <label for="fullname" class="form-label">Password:</label>
            <input th:field="*{password}" type="password" id="password" class="form-control" placeholder="Choose your password" required>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Gender:</label>
            <div th:each="g : ${genders}" class="form-check">
                <input type="radio" th:field="*{gender}" th:value="${g}" th:id="${'gender_' + g}" class="form-check-input" />
                <label th:for="${'gender_' + g}" class="form-check-label" th:text="${g}"></label>
            </div>
        </div>

        <p>Arrival information:</p>
        <div class="mb-3 col-md-4">
            <label for="arrivalInfoPlace" class="form-label">Place:</label>
            <input type="text" style="width: 100%" th:field="*{arrivalInfo.place}" id="arrivalInfoPlace" class="form-control" placeholder="Arrival place"/>
            <span th:if="${#fields.hasErrors('arrivalInfo')}" th:errors="*{arrivalInfo.place}" style="color: red;"></span>
        </div>

        <div class="mb-3 col-md-4">
            <label for="arrivalInfoDate" class="form-label">Date:</label>
            <input type="text" style="width: 100%" th:field="*{arrivalInfo.date}" id="arrivalInfoDate" class="form-control" placeholder="Arrival place"/>
            <span th:if="${#fields.hasErrors('arrivalInfo')}" th:errors="*{arrivalInfo.date}" style="color: red;"></span>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" th:field="*{agree}" id="agree" class="form-check-input" />
            <label th:for="agree" class="form-check-label">I agree with processing my personal data.</label>
            <span th:if="${#fields.hasErrors('agree')}" th:errors="*{agree}" style="color: red;"></span>
        </div>

        <div class="mb-3">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
        </div>
    </form>

</section>
</body>
</html>