<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Subscription list</title>
</head>
<body>
<section layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Subscription list</h1>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td><b>Email</b></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subscription: ${subscriptions}">
            <td th:text="${subscription.email}" />
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>